h1{
    font-weight: normal;
    font-family: cursive;
}



img{
    height: 250px;
    width: 250px;
}
#sasuke{
    color: gold;
}

.animetitle{
    font-family:fantasy;
    color:darkblue
    }

